{# Break apart aside position values for better control of logic #}
<section class="test-band--layout">
    <div class="test-band-container">
        {% if block( "band_header" ) is not empty %}
            <header class="test-band-header">
                {% block band_header %}{% endblock %}
            </header>
        {% endif %}
        {% if block( "band_body" ) is not empty %}
            <div class="test-band-content">
                {% block band_body %}{% endblock %}
            </div>
        {% endif %}
        {% if block( "band_footer" ) is not empty %}
            <footer class="test-band-footer">
                {% block band_footer %}{% endblock %}
            </footer>
        {% endif %}
    </div>
</section>
